// Import Angular Material theming utilities
@use '@angular/material' as mat;

@include mat.core();

// Define custom color palettes
$my-primary-palette: mat.m2-define-palette(mat.$m2-indigo-palette, 400, 100, 700);
$my-secondary-palette: mat.m2-define-palette(mat.$m2-pink-palette, 500, 300, 700);
$my-tertiary-palette: mat.m2-define-palette(mat.$m2-blue-palette, 500, 300, 700);

// Define custom typography using mat.m2-define-typography-config
$my-typography: mat.m2-define-typography-config($font-family: 'Roboto, "Helvetica Neue", sans-serif',
    );

// Create the theme using the custom palettes and typography
$my-theme: mat.m2-define-light-theme((color: (
        theme-type: light,
        primary: $my-primary-palette,
        accent:$my-secondary-palette,
        tertiary: $my-tertiary-palette,
        use-system-variables: true
        ),
        typography: $my-typography,
           
        ));


// Apply the theme globally
@include mat.all-component-themes($my-theme);



body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    margin: 0;
}

// Base styling
 html,
body {
    height: 100%;
 }

